<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit product</title>
</head>
<body>
<h1>Edit product</h1>
<p>
    <a href="/home">product list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-product}" th:object="${product}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>name:</td>
            <td><textarea th:field="*{name}" cols="100" rows="2"/></td>
        </tr>
        <tr>
            <td>price:</td>
            <td><textarea th:field="*{price}" cols="200" rows="5"/></td>
        </tr>
        <tr>
            <td>quantity:</td>
            <td><input type="text" th:field="*{quantity}"/></td>
        </tr>
        <tr>
            <td>color</td>
            <td><input type="text" th:field="*{color}"></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>
                <select name="category">
                    <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}"
                            th:selected="(${product.category}) and (${c.id} == *{category.id})"
                    ></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update product"></td>
        </tr>
    </table>
</form>
</body>
</html>